.box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 450px;
}

.gengar {
    align-self: flex-end;
    height: -00px
}

.gengar, .alakazam, .haunter {
    padding: 16px;
    background-color: #f0f0f0;
}